.b-main-window {
    max-width: 760px;

    &__title-box {
        margin-bottom: 60px;
    }

    &__description {
        margin-bottom: 60px;
    }

    &__button {
        max-width: 309px;
    }
}