.b-services {
  &__title-box {
    max-width: 770px;
    margin-bottom: 120px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: 20px;
  }

  &__list-item {
    max-width: 770px;
    margin-bottom: 20px;
  }
}

.b-service-card {
  &__wrapper {
    height: 100%;
  }
}
