<div class="b-calculator b-calculator_modal-5" style="background-image: url(./img/pulse-background-empty.jpg);">
    <div class="b-calculator__wrapper">
  
        <div class="b-calculator__head">
          <div class="b-calculator__title">Калькулятор бухгалтерских услуг</div>
          <div class="b-calculator__question">
              Результат
          </div>
        </div>
  
        <form class="b-calculator__body">
            <div class="b-result b-calculator__result">
                <div class="b-result__title">15 000 рублей / месяц
                <ul class="b-result__services">
                    <li class="b-result__services-item">ИП на ОСНО (без начисления ЗП и ведения кадрового учета)</li>
                    <li class="b-result__services-item">50 комплектов документов</li>
                    <li class="b-result__services-item">10 сотрудников</li></div>
                </ul>
            </div>
        </form>
  
  
      <div class="b-calculator__nav">
        <div class="b-calculator__btn-wrapper">
          <button class="b-close-btn b-calculator__close-btn" type="button">
            <span class="b-close-btn__line"></span>
            <span class="b-close-btn__line"></span>
          </button>
          <span class="b-close-btn__title">Закрыть калькулятор</span>

          <button class="b-return-btn b-calculator__return-btn" type="button"></button>
          <span class="b-return-btn__title">Вернуться назад</span>
        </div>
        <button class="b-btn b-calculator__btn-result  b-calculator__btn-next" type="submit">
          Заказать сопровождение
          <span class="b-btn__arrow">
        </button>
      </div>
    </div>
  </div>
  