<div class="b-calculator b-calculator_modal-1" style="background-image: url(./img/pulse-background-empty.jpg);">
  <div class="b-calculator__wrapper">

    <div class="b-calculator__inner">
      <div class="b-calculator__head">
        <div class="b-calculator__title">Калькулятор бухгалтерских услуг</div>
        <div class="b-calculator__question">
          Выберите правовое положение
        </div>
      </div>

      <form class="b-calculator__body">
        <div class="b-calculator-card b-calculator__tile">
          <input class="b-calculator-card__check" id="var1" type="radio" name="Налоговый режим" value="ИП">
          <label class="b-calculator-card__title" for="var1">Индивидуальный предприниматель</label>
        </div>

        <div class="b-calculator-card b-calculator__tile">
          <input class="b-calculator-card__check" id="var2" type="radio" name="Налоговый режим" value="ООО">
          <label class="b-calculator-card__title" for="var2">Организация с ограниченной ответственностью</label>
        </div>
      </form>
    </div>

    <div class="b-calculator__nav">
      <div class="b-calculator__btn-wrapper">
        <button class="b-close-btn b-calculator__close-btn" type="button">
          <span class="b-close-btn__line"></span>
          <span class="b-close-btn__line"></span>
        </button>
        <span class="b-close-btn__title">Закрыть калькулятор</span>
      </div>
      <button class="b-btn b-calculator__btn-next" type="submit" disabled="true">
        Продолжить
        <span class="b-btn__arrow">
      </button>
    </div>
  </div>
</div>
