<div class="b-calculator b-calculator_modal-2" style="background-image: url(./../img/pulse-background-empty.jpg);">
    <div class="b-calculator__wrapper">
  
     <div class="b-calculator__inner">
          <div class="b-calculator__head">
            <div class="b-calculator__title">Калькулятор бухгалтерских услуг</div>
            <div class="b-calculator__question">
                Выберите правовое положение
            </div>
          </div>
    
          <form class="b-calculator__body">
            <div class="b-calculator-card b-calculator__tile">
                <input class="b-calculator-card__check" id="var3" type="radio" name="Правовое положение" value="ИП на ОСНО">
                <label class="b-calculator-card__title" for="var3">ИП на ОСНО
                    <span class="b-calculator-card__subtitle">
                      Без начисления ЗП и ведения кадрового учета
                    </span>
                </label>
            </div>
    
            <div class="b-calculator-card b-calculator__tile">
                <input class="b-calculator-card__check" id="var4" type="radio" name="Правовое положение" value="ИП на ОСНО">
                <label class="b-calculator-card__title" for="var4">ИП на ОСНО
                    <span class="b-calculator-card__subtitle">
                        Без начисления ЗП и ведения кадрового учета
                    </span>
                </label>
            </div>
  
            <div class="b-calculator-card b-calculator__tile">
                <input class="b-calculator-card__check" id="var5" type="radio" name="Правовое положение" value="ИП на УСН 6%, патенте, ЕНВД">
                <label class="b-calculator-card__title" for="var5">ИП на УСН 6%, патенте, ЕНВД
                    <span class="b-calculator-card__subtitle">
                        Без начисления ЗП и ведения кадрового учета
                    </span>
                </label>
            </div>
          </form>
     </div>
  
  
      <div class="b-calculator__nav">
        <div class="b-calculator__btn-wrapper">
          <button class="b-close-btn b-calculator__close-btn" type="button">
            <span class="b-close-btn__line"></span>
            <span class="b-close-btn__line"></span>
          </button>
          <span class="b-close-btn__title">Закрыт калькулятор</span>

          <button class="b-return-btn b-calculator__return-btn" type="button"></button>
          <span class="b-return-btn__title">Вернуться назад</span>
        </div>
        <button class="b-btn b-calculator__btn-next" type="submit">
          Продолжить
          <span class="b-btn__arrow">
        </button>
      </div>
    </div>
  </div>
  