<div class="b-calculator b-calculator_modal-1" style="background-image: url(./../img/pulse-background-empty.jpg);">
    <div class="b-calculator__wrapper">

        <div class="b-calculator__head">
            <div class="b-calculator__title">Калькулятор бухгалтерских услуг</div>
            <div class="b-calculator__question"></div>
        </div>

        <form class="b-calculator__body">
        </form>

        <div class="b-calculator__nav">
            <div class="b-calculator__close">
                <button class="b-close-btn b-calculator__close-btn" type="button">
                    <span class="b-close-btn__line"></span>
                    <span class="b-close-btn__line"></span>
                </button>
                Закрыт калькулятор
            </div>
            <button class="b-btn b-calculator__btn-next" type="submit">
                Продолжить
                <span class="b-btn__arrow">
             </button>
        </div>
    </div>
</div>