<div class="b-about">
    <div class="b-about__wrapper">
        <div class="b-about__text-inner">
            <h2 class="b-title b-about__title">Кто мы</h2>
            <div class="b-about__description">
                <p>Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высококачественный прототип будущего проекта предопределяет высокую востребованность прогресса профессионального сообщества.</p>

                <p>Как уже неоднократно упомянуто, сторонники тоталитаризма в науке набирают популярность среди определенных слоев населения,а значит, должны быть своевременно верифицированы.</p>

                <p>Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высококачественный прототип будущего проекта предопределяет высокую востребованность прогресса профессионального сообщества.</p>
            </div>
        </div>
        <ul class="b-about__cards-inner">
            <li class="b-card b-card_frames b-about__card-item">
                <h3 class="b-title b-card__title b-title_ultra-medium">60 000</h3>
                <p class="b-card__description">
                    Первичных документов проверено
                </p>
            </li>
            <li class="b-card b-card_frames b-about__card-item">
                <h3 class="b-title b-card__title b-title_ultra-medium">5 500</h3>
                <p class="b-card__description">
                    Сделок и договоров с контрагентами проверено 
                </p>
            </li>
            <li class="b-card b-card_frames b-about__card-item">
                <h3 class="b-title b-card__title b-title_ultra-medium">2 300</h3>
                <p class="b-card__description">
                    Регламентирующих документов компаний разработано и утверждено 
                </p>
            </li>
            <li class="b-card b-card_frames b-about__card-item">
                <h3 class="b-title b-card__title b-title_ultra-medium">110</h3>
                <p class="b-card__description">
                    Камеральных и встречных налоговых проверок отработано
                </p>
            </li>
            <li class="b-card b-card_frames b-about__card-item">
                <h3 class="b-title b-card__title b-title_ultra-medium">15</h3>
                <p class="b-card__description">
                    Аудиторских проверок пройдено
                </p>
            </li>
            <li class="b-card b-card_frames b-about__card-item">
                <h3 class="b-title b-card__title b-title_ultra-medium">20</h3>
                <p class="b-card__description">
                    Выездных налоговых проверок пройдено
                </p>
            </li>
        </ul>
    </div>
</div>