<div class="b-benefits">
  <h2 class="b-title b-benefits__title">
    Почему мы лучше
  </h2>
  <ul class="b-benefits__list">
    <li class="b-benefits__item">
      <article class="b-card b-benefits-card__wrapper">
        <h3 class="b-title b-title_small b-card__title">Отвечаем на вопросы</h3>
        <div class="b-card__description">
          Работаем в чате мессенджеров или по почте, документы отправляем и принимаем так-же. Короткие консультации не
          требующие тщательного разбора клиент получает по звонку бесплатно.
        </div>
      </article>
    </li>
    <li class="b-benefits__item">
      <article class="b-card b-benefits-card__wrapper">
        <h3 class="b-title b-title_small b-card__title">Готовим документы</h3>
        <div class="b-card__description">
          Работаем в чате мессенджеров или по почте, документы отправляем и принимаем так-же. Короткие консультации не
          требующие тщательного разбора клиент получает по звонку бесплатно.
        </div>
      </article>
    </li>
    <li class="b-benefits__item">
      <article class="b-card b-benefits-card__wrapper">
        <h3 class="b-title b-title_small b-card__title">Работаем со сложными ситуациями</h3>
        <div class="b-card__description">
          Работаем в чате мессенджеров или по почте, документы отправляем и принимаем так-же. Короткие консультации не
          требующие тщательного разбора клиент получает по звонку бесплатно.
        </div>
      </article>
    </li>
    <li class="b-benefits__item">
      <article class="b-card b-benefits-card__wrapper">
        <h3 class="b-title b-title_small b-card__title">Защищаем при налоговых проверках</h3>
        <div class="b-card__description">
          Работаем в чате мессенджеров или по почте, документы отправляем и принимаем так-же. Короткие консультации не
          требующие тщательного разбора клиент получает по звонку бесплатно.
        </div>
      </article>
    </li>
  </ul>
</div>
