<div class="b-main-window">
  <div class="b-main-window__wrapper">
    <div class="b-main-window__title-box">
      <h1 class="b-title b-main-window__main-text">
        <span class="b-title  b-title_gray">
        Команда профессионалов для
      </span>
          решения финансовых задач вашего бизнеса
      </h1>
    </div>
    <div class="b-main-window__description">
      <p>
        Берём на себя учёт, отчётность, расчёт налогов и зарплаты, юридические вопросы, работу с банками, чтобы вы стали
        свободнее!
      </p>
      <blockquote>
        Ваша свобода — наша ценность.
      </blockquote>
    </div>

    <div class="b-main-window__button">
      <button class="b-btn" type="button" data-modal="modal1">Оставить заявку
        <span class="b-btn__arrow">
      </button>
    </div>
  </div>
</div>
