<header class="b-header">

  <ul class="b-short-contacts b-header__contacts">
    <li class="b-short-contacts__item">
      <a class="b-short-contacts__phone" href="tell:+70980987623">+7 098 098 76 23</a>
    </li>
    <li class="b-short-contacts__item">
      <a class="b-short-contacts__email" href="mailto:sayhi@mayakfinance.com">sayhi@mayakfinance.com</a>
    </li>
  </ul>

  <img class="b-logo b-header__logo" src="./img/logo.svg" alt="Логотип компании">

  <nav class="b-header__menu">
    <ul class="b-menu">
      <li class="b-menu__item">
        <a class="b-menu__link b-menu__link_scroll-services" href="#">Услуги</a>
      </li>
      <li class="b-menu__item">
        <a class="b-menu__link b-menu__link_scroll-prices" href="#">Цены</a>
      </li>
      <li class="b-menu__item">
        <a class="b-menu__link b-menu__link_scroll_about-company" href="#">О компании</a>
      </li>
    </ul>
  </nav>
</header>
