<header class="b-header">

  <div class="b-short-contacts b-header__contacts">
    <a class="b-short-contacts__phone" href="tell:+70980987623">+7 098 098 76 23</a>
    <a class="b-short-contacts__email" href="mailto:sayhi@mayakfinance.com">sayhi@mayakfinance.com</a>
  </div>

  <img class="b-logo b-header__logo" src="./img/logo.svg" alt="Логотип компании">

  <nav class="b-header__menu">
    <ul class="b-menu">
      <li class="b-menu__item">Услуги</li>
      <li class="b-menu__item">Цены</li>
      <li class="b-menu__item">О компании</li>
    </ul>
  </nav>

</header>
