<div class="b-modal b-modal_call-back" id="modal1">
    <div class="b-modal__wrapper" style="background-image: url(img/pulse-background-empty.jpg);">
        <div class="b-modal__head">
            <div class="b-modal__title">Заказать звонок</div>
            <button class="b-close-btn b-modal__close" type="button">
                <span class="b-close-btn__line"></span>
                <span class="b-close-btn__line"></span>
            </button>
        </div>
        <div class="b-modal__body">
            <form class="b-form" autocomplete="off">
                <input class="b-input b-modal__input b-modal__input_name"
                placeholder="Имя" 
                minlength="2"
                name="Name"
                type="text" 
                aria-label="поле ввода имени"
                aria-required="true">
    
                <input class="b-input b-modal__input b-modal__input_tell"
                pattern="^+38\d{3}-\d{3}-\d{2}-\d{2}$"
                placeholder="Номер телефона *"
                min="4"
                name="Tell"
                type="number"
                required
                aria-label="поле ввода номера телефона"
                aria-required="true">
    
               <div class="b-submit b-modal__submit-wrapper">
                  <div class="b-submit__chackbox-wrapper">
                    <input class="b-submit__checkbox"
                    id="checkbox"
                    type="checkbox"
                    name="agreement"
                    required
                    aria-required="true"
                    aria-label="Пользовтельское соглашение"
                    > 
                    <label class="b-submit__label" for="checkbox">
                      <span class="b-submit__checkbox-text">Даю согласие на обработку</span>
                      <a class="b-submit__label-link" href="personal-date.html" target="_blank">перосональных данных</a>
                    </label>
                  </div>
               </div>
               <button class="b-btn b-modal__button b-btn_submit" type="submit" disabled="true">
                 Отправить
                 <span class="b-btn__arrow"></span>
               </button>
            </form>
        </div>
    </div>
</div>