<div class="b-partners">
<h3 class="b-title b-partners__title">Наши партнеры</h3>

    <ul class="b-partners__list">
        <li class="b-card b-partners__item">
            <img alt="mastercard" class="b-ratners__logo" src="./img/partners1.svg">
        </li>
        <li class="b-card b-partners__item">
            <img alt="visa" class="b-ratners__logo" src="./img/partners2.svg">
        </li>
        <li class="b-card b-partners__item">
            <img alt="PayPal" class="b-ratners__logo" src="./img/partners3.svg">
        </li>
        <li class="b-card b-partners__item">
            <img alt="Western Union" class="b-ratners__logo" src="./img/partners4.svg">
        </li>
        <li class="b-card b-partners__item">
            <img alt="monobank" class="b-ratners__logo" src="./img/partners5.svg">
        </li>
        <li class="b-card b-partners__item">
            <img alt="Приват Банк" class="b-ratners__logo" src="./img/partners6.svg">
        </li>
    </ul>
</div>