<div class="b-reviews">
  <div class="b-reviews__heading">
    <h3 class="b-reviews__title b-title">Отзывы клиентов</h3>
    <div class="b-reviews__slider-pagination">
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
  <div class="swiper mySwiper b-reviews__slider">
    <div class="swiper-wrapper">
      <!-- slide -->
      <div class="swiper-slide">
        <div class="b-card b-hover-disabled">
          <article class="b-review-card">
            <blockquote class="b-review-card__text">
              Главный критерий добросовестной и профессиональной работы — это отсутствие требований из ИФНС и всегда
              вовремя сданная отчетность, начисленная зарплата, налоги...
            </blockquote>
            <div class="b-person-data b-review-card__inner">
              <img class="b-person-data__avatar" src="./img/avatar1.png" alt="имя автора отзыва">
              <div class="b-person-data__title">
                <cite class="b-person-data__name">
                  Василий Долговязов
                </cite>
                <div class="b-person-data__status">
                  СЕО Кресло и Партнеры
                </div>
              </div>
            </div>
            <a class="b-review-card__link-inner" href="facebook.com">
              <img class="b-review-card__scial-icon" src="./img/facebook.png" alt="ссылка на отзыв в социальной сети">
              <span class="b-review-card__link-text">Посмотреть отзыв</span>
            </a>
          </article>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="b-card b-hover-disabled">
          <article class="b-review-card">
            <blockquote class="b-review-card__text">
              Главный критерий добросовестной и профессиональной работы — это отсутствие требований из ИФНС и всегда
              вовремя сданная отчетность, начисленная зарплата, налоги...
            </blockquote>
            <div class="b-person-data b-review-card__inner">
              <img class="b-person-data__avatar" src="./img/avatar2.png" alt="имя автора отзыва">
              <div class="b-person-data__title">
                <cite class="b-person-data__name">
                  Василий Долговязов
                </cite>
                <div class="b-person-data__status">
                  СЕО Кресло и Партнеры
                </div>
              </div>
            </div>
            <a class="b-review-card__link-inner" href="#">
              <img class="b-review-card__scial-icon" src="./img/facebook.png" alt="ссылка на отзыв в социальной сети">
              <span class="b-review-card__link-text">Посмотреть отзыв</span>
            </a>
          </article>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="b-card b-hover-disabled">
          <article class="b-review-card">
            <blockquote class="b-review-card__text">
              Главный критерий добросовестной и профессиональной работы — это отсутствие требований из ИФНС и всегда
              вовремя сданная отчетность, начисленная зарплата, налоги...
            </blockquote>
            <div class="b-person-data b-review-card__inner">
              <img class="b-person-data__avatar" src="./img/avatar1.png" alt="имя автора отзыва">
              <div class="b-person-data__title">
                <cite class="b-person-data__name">
                  Василий Долговязов
                </cite>
                <div class="b-person-data__status">
                  СЕО Кресло и Партнеры
                </div>
              </div>
            </div>
            <a class="b-review-card__link-inner" href="facebook.com">
              <img class="b-review-card__scial-icon" src="./img/facebook.png" alt="ссылка на отзыв в социальной сети">
              <span class="b-review-card__link-text">Посмотреть отзыв</span>
            </a>
          </article>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="b-card b-hover-disabled">
          <article class="b-review-card">
            <blockquote class="b-review-card__text">
              Главный критерий добросовестной и профессиональной работы — это отсутствие требований из ИФНС и всегда
              вовремя сданная отчетность, начисленная зарплата, налоги...
            </blockquote>
            <div class="b-person-data b-review-card__inner">
              <img class="b-person-data__avatar" src="./img/avatar2.png" alt="имя автора отзыва">
              <div class="b-person-data__title">
                <cite class="b-person-data__name">
                  Василий Долговязов
                </cite>
                <div class="b-person-data__status">
                  СЕО Кресло и Партнеры
                </div>
              </div>
            </div>
            <a class="b-review-card__link-inner" href="facebook.com">
              <img class="b-review-card__scial-icon" src="./img/facebook.png" alt="ссылка на отзыв в социальной сети">
              <span class="b-review-card__link-text">Посмотреть отзыв</span>
            </a>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
