<div class="b-services">
  <div class="b-services__title-box">
    <h2 class="b-title b-services__main-text">
      <span class="b-title b-title_gray">
        Мы оказываем весь спектр
      </span>
      бухгалтерских услуг
    </h2>
  </div>

  <ul class="b-services__list">
    <li class="b-services__list-item">
      <article class="b-card b-services__item-wrapper">
        <div class="b-card__title">
          <h3 class="b-title b-title_small">
            Бухгалтерсий аутсорсинг
          </h3>
        </div>
        <div class="b-card__description">
          <p>
            Работаем в чате мессенджеров или по почте, документы отправляем и принимаем так же.
          </p>
          <p>
            Короткие консультации не требующие тщательного разбора клиент получает по звонку бесплатно.
          </p>
        </div>
      </article>
    </li>
    <li class="b-services__list-item">
      <article class="b-card b-services__item-wrapper">
        <div class="b-card__title">
          <h3 class="b-title b-title_small">
            Налоговый учет
          </h3>
        </div>
        <div class="b-card__description">
          <p>
            Работаем в чате мессенджеров или по почте, документы отправляем и принимаем так же.
          </p>
          <p>
            Короткие консультации не требующие тщательного разбора клиент получает по звонку бесплатно.
          </p>
        </div>
      </article>
    </li>
    <li class="b-services__list-item">
      <article class="b-card b-services__item-wrapper">
        <div class="b-card__title">
          <h3 class="b-title b-title_small">
            Сдача отчетности
          </h3>
        </div>
        <div class="b-card__description">
          <p>
            Работаем в чате мессенджеров или по почте, документы отправляем и принимаем так же.
          </p>
          <p>
            Короткие консультации не требующие тщательного разбора клиент получает по звонку бесплатно.
          </p>
        </div>
      </article>
    </li>
    <li class="b-services__list-item">
      <article class="b-card b-services__item-wrapper">
        <div class="b-card__title">
          <h3 class="b-title b-title_small">
            Постановка управленческого учета и учетных процессов
          </h3>
        </div>
        <div class="b-card__description">
          <p>
            Работаем в чате мессенджеров или по почте, документы отправляем и принимаем так же.
          </p>
          <p>
            Короткие консультации не требующие тщательного разбора клиент получает по звонку бесплатно.
          </p>
        </div>
      </article>
    </li>

  </ul>
</div>
