<div class="b-stack">
  <h2 class="b-title b-stack__title">
    Отрасли
    <span class="b-title b-title_gray">
      с которыми мы работаем
    </span>
  </h2>

  <ul class="b-stack__list">
    <li class="b-stack__list-item">Маркетплейсы</li>
    <li class="b-stack__list-item">Производства</li>
    <li class="b-stack__list-item">Салоны красоты</li>
    <li class="b-stack__list-item">Розничная торговля</li>
    <li class="b-stack__list-item">Ресторанный бизнес</li>
    <li class="b-stack__list-item">Образование</li>
    <li class="b-stack__list-item">IT</li>
</ul>

  <div class="b-card b-card_light b-stack__card" id="stack">
    <h3 class="b-title b-title_black b-card__title">Узнайте стоимость сопровождения для</h3>
    <span class="b-card__mark">ООО на ОСНО</span>
    <a class="b-btn b-btn_dark b-card__button" href="#">
      Начать расчет
      <span class="b-btn__arrow b-btn__arrow_light">
    </a>

    </div>


  </div>
</div>
